[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
flask = "*"
flask-redis = "*"
flask-wtf = "*"
github-flask = "*"
gunicorn = "*"
pytz = "*"
raven = {extras = ["flask"]}
redis = "*"
requests = "*"
stripe = "*"
blinker = "*"

[dev-packages]

