{% extends "layout.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="col12">
<div class="pure-u-1">
    <h2>Join OpenStreetMap US</h2>

    <p>Thanks for your interest in joining OpenStreetMap US! Please note that you <em>don't need to join OpenStreetMap US to map</em>. <strong><a href="https://openstreetmap.org">Contributing to OpenStreetMap is always free</a></strong> and becoming an OpenStreetMap US member is not required to map.</p>

    <form method="post" action="{{ url_for('membership_new') }}" class="pure-form pure-form-aligned">
        {{ form.csrf_token }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.osm_username) }}
        {{ render_field(form.address1) }}
        {{ render_field(form.address2) }}
        {{ render_field(form.city) }}
        {{ render_field(form.region) }}
        {{ render_field(form.postal_code) }}
        {{ render_field(form.country) }}
        {{ render_field(form.phone) }}

        {{ render_field(form.plan) }}

        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-name="OpenStreetMap US"
            data-panel-label="Become a Member"
            data-label="Enter Payment Information"
            data-allow-remember-me="false"
            data-zip-code="true"
            data-locale="auto">
        </script>
    </form>
</div>
</div>

{% endblock %}
