<!DOCTYPE html>
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html><!--<![endif]-->

<head>
  <title>Join Us | OpenStreetMap US</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@openstreetmapus">
  <meta name="twitter:creator" content="@openstreetmapus">
  <meta name="twitter:title" content="Join Us">
  <meta name="twitter:description" content="By joining OpenStreetMap US you help grow OpenStreetMap in the United States and beyond through conferences, community events, and advocacy. OpenStreetMap gives ordinary citizens the power and the tools to...">

  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link href='https://openstreetmap.us/site.css' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>

  <script src="https://openstreetmap.us/js/jquery-1.8.2.min.js"></script>
  <script src="https://openstreetmap.us/js/jquery.scrollTo-1.4.3.1.min.js"></script>
  <script src="https://openstreetmap.us/js/jquery.scrollorama.js"></script>
  <script src="https://openstreetmap.us/js/jquery.easing.1.3.js"></script>
  <script src="https://openstreetmap.us/js/jquery.scrolldeck.js"></script>

  <style type="text/css">
    ul.errors li {
      margin-left: 0px;
      color: #a00;
      background-color: #fdd;
      list-style: none;
      padding-left: 5px;
    }
  </style>

</head>

<body>
    <ul class='navbar center'>

        <li class='col3 openstreetmap-us'>
            <a href='/' class="button active">
                <span class='icon pre-text openstreetmap-us'></span>
                <span class='navbar-titles'>OpenStreetMap US</span>
            </a>
        </li>

        <li class='full'>
            <a class='button'>&nbsp;</a>
        </li>

    </ul>
    <div class='container'>
    <div class='blog-surface'>
        <div class='margin2 col8 pad4 fill-full bottom-buffer'>
            <div id="flashes" class="pure-u-1">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        {% block content %}{% endblock %}
        </div>
    </div>
    </div>

    <div class='smallprint center pad1 col12 clearfix'>
        <small>© OpenStreetMap US | <a href="mailto:membership@openstreetmap.us">membership@openstreetmap.us</a></small>
    </div>
</body>
</html>
