{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post" action="{{ url_for('request_membership') }}">
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.email) }}
  </dl>
  <p><input type="submit" value="Request Update Link">
</form>



{% endblock %}
