{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}

<div class="pure-u-1-2">
<div class="pure-u-1">
    <h2>Profile Information</h2>

    <form method="post" action="{{ url_for('membership_update', token=token) }}" class="pure-form pure-form-aligned">
            {{ form.csrf_token }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.osm_username) }}
            {{ render_field(form.address1) }}
            {{ render_field(form.address2) }}
            {{ render_field(form.city) }}
            {{ render_field(form.region) }}
            {{ render_field(form.postal_code) }}
            {{ render_field(form.country) }}
            {{ render_field(form.phone) }}
        <button type="submit" class="pure-button pure-button-primary">Update Your Information</button>
    </form>
</div>
</div>

<div class="pure-u-1-2">
<div class="pure-u-1-2">
    <h2>Membership</h2>
    <p>
        {% if customer.metadata.member_since %}
        You first became a member {{ customer.metadata.member_since|int|format_timedelta }} ago on {{ customer.metadata.member_since|int|format_timestamp }}.
        {% endif %}
    </p>
    <p>
    {% if subscription == None %}
        You don't appear to be a member or your membership has lapsed.

        <form method="post" action="{{ url_for('membership_renew', token=token) }}" class="pure-form">
            <select name="plan_id">
                {% for plan in plans %}
                <option value="{{ plan.id }}">{{ plan.name }} (${{ plan.amount|pennies_as_dollars }}/{{ plan.interval }})</option>
                {% endfor %}
            </select>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_key }}"
                data-name="OpenStreetMap US"
                data-panel-label="Renew Your Membership"
                data-label="Renew Your Membership"
                data-email="{{ customer.email }}"
                data-allow-remember-me=false
                data-locale="auto">
            </script>
        </form>

    {% elif subscription.status == 'active' %}
        Your membership is <strong>active</strong>. We'll bill you again in <strong>{{ subscription.current_period_end|format_timedelta }}</strong> on {{ subscription.current_period_end|format_timestamp}} using your <strong>{{ customer.default_source.brand }}</strong> ending in <strong>{{ customer.default_source.last4 }}</strong>.
    {% else %}
        {{ membership }}
    {% endif %}
    </p>
</div>
</div>

{% endblock %}
