{% extends "layout.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="col12">
    <h1>Membership</h1>
    <p>
        {% if customer.metadata.member_since %}
        You first became a member {{ customer.metadata.member_since|from_datestamp|as_delta }} ago on {{ customer.metadata.member_since|from_datestamp|as_date }}.
        {% endif %}
    </p>
    <p>
    {% if subscription == None or subscription.status == 'past_due' %}
        You don't appear to be a member or your membership has lapsed.

        <form method="post" action="{{ url_for('membership_renew', token=token) }}" class="pure-form">
            <select name="plan_id">
                {% for plan in plans %}
                <option value="{{ plan.id }}">{{ plan.name }} (${{ plan.amount|pennies_as_dollars }}/{{ plan.interval }})</option>
                {% endfor %}
            </select>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_key }}"
                data-name="OpenStreetMap US"
                data-panel-label="Renew Your Membership"
                data-label="Renew Your Membership"
                data-email="{{ customer.email }}"
                data-allow-remember-me=false
                data-locale="auto">
            </script>
        </form>

    {% elif subscription.cancel_at_period_end %}
        Your membership is <strong>active</strong>, but is set to expire in <strong>{{ subscription.current_period_end|from_timestamp|as_delta }}</strong> on {{ subscription.current_period_end|from_timestamp|as_date}}.
    {% elif subscription.status == 'active' %}
        Your membership is <strong>active</strong>.
        We'll bill you again in <strong>{{ subscription.current_period_end|from_timestamp|as_delta }}</strong> on {{ subscription.current_period_end|from_timestamp|as_date}} using your <strong>{{ customer.default_source.brand }}</strong> ending in <strong>{{ customer.default_source.last4 }}</strong>. <a href="{{ url_for('membership_cancel', token=token, subscription_id=subscription.id) }}">Cancel your membership</a> to prevent future charges.
    {% endif %}
    </p>

    <h1>Profile Information</h1>

    <form method="post" action="{{ url_for('membership_update', token=token) }}" class="pure-form pure-form-aligned">
        {{ form.csrf_token }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.osm_username) }}
        {{ render_field(form.address1) }}
        {{ render_field(form.address2) }}
        {{ render_field(form.city) }}
        {{ render_field(form.region) }}
        {{ render_field(form.postal_code) }}
        {{ render_field(form.country) }}
        {{ render_field(form.phone) }}
        <input type="submit" class="pure-button pure-button-primary" value="Update Your Information"></input>
    </form>
</div>


{% endblock %}
