<html>
<body>
<p>
{% if customer.metadata.first_name %}
Hi {{ customer.metadata.first_name }},
{% else %}
Hi there,
{% endif %}
</p>

<p>
Thank you for joining OpenStreetMap US! We're excited to have you as a member and look forward to hearing from you about your experiences in OpenStreetMap.
</p>

<p>
Your membership will automatically renew in a {{ event.data.object.plan.interval }}. We'll let you know when that happens so future charges aren't a surprise.
</p>

<p>
If you have any questions or concerns, please reply to this email and we'll be sure to help.
</p>

<p>
Thanks!<br/>
The OpenStreetMap US Board
</p>

</body>
</html>
